@charset 'UTF-8';

@import '../common/colors';
@import '../common/gutters';

footer {
  a {
    color: $text-color-light;
    text-decoration: none;
  }
}

.region-footer {
  @include gutter;

  background: $background-color-footer;
  padding-bottom: 30px;
  padding-top: 30px;
}

.region-footer-bottom {
  @include gutter;
  text-align: center;

}

.menu--footer {
  li {
    padding-top: 12px;

    a {
      font-size: 1.3rem;
      line-height: 2.8rem;
    }
  }
}


.block-dropdown-language {
  legend {
    display: none;
  }

  .dropbutton-widget {
    background: transparent;
  }
}
