@charset 'UTF-8';

@import '../common/colors';
@import '../common/gutters';
@import '../common/images';
@import '../common/fonts';

header {
  background: $background-color-header;
  color: $text-color-dark;

  .site-name {
    display: none;
  }
}

.region-top {
  position: relative;
}

.region-top-top-menu {
  background: url($image-header-background) $white;
  border-bottom: $gray-border 2px solid;
}

// Logo
.block-system-branding-block {
  left: calc(100% * .083333);
  position: absolute;
  top: 5px;

  img {
    height: 51px;
  }
}


// Top Bar Menu.
.menu--top-bar {
  > .menu {
    margin: 0;
    margin-top: 5px;
    padding-bottom: 8px;
    padding-right: 22px;
    text-align: right;
  }

  li {
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-top: 10px;
  }

  a {
    color: $dark-text;
    display: block;
    font-size: 1.1rem;
    font-weight: bold;
    padding-left: 9px;
    padding-right: 9px;
    text-decoration: none;

    &::before {
      background: $red;
      content: ' ';
      display: block;
      height: 25px;
      margin-left: auto;
      margin-right: auto;
      width: 25px;
    }

  }
}

// Main Menu.
.menu--main {
  @include gutter;

  .menu {
    &.ul {
      display: flex;
      justify-content: space-between;
    }
  }

  li {
    display: inline-block;
    font-size: 1.4rem;


    a {
      border-bottom: solid 4px $white;
      color: $dark-text;
      display: block;
      font-family: IntroBold;
      font-size: 1.4rem;
      margin: auto 0;
      padding: 17px 8px;
      text-align: center;
      text-decoration: none;

      &.is-active {
        border-color: $yellow;
      }
    }
  }
}
