@charset 'UTF-8';

@import '../common/colors';
@import '../common/buttons';
@import '../common/breakpoint';
@import '../common/gutters';

html {
  font-size: 62.5%;
}

body {
  background: $background-color-bottom;
  color: $text-color-light;

  .block-menu {
    .menu {
      margin: 0;
      margin-left: 0;
    }
  }

}

main {
  background: $background-color-main;
  color: $text-color-dark;
}

.block-menu {
  li {

    .default {
      display: none;
    }

    @include breakpoint($tablet) {
      .mobile {
        display: none;
      }

      .default {
        display: block;
      }
    }
  }
}

.text-formatted {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-top: 16px;
}

.field--name-field-bricks {
  > div {
    .brick {
      @include gutter-brick;
    }
  }
}
