@charset 'UTF-8';

@import '../common/gutters';
@import '../common/colors';

.brick--product-slider {
  .bg {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 90px;

    height: 89px;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    width: 89px;
  }

  .tray {
    @include gutter;
    display: flex;
    overflow-x: scroll;
  }

  .item {
    display: inline-block;
    flex-shrink: 0;
    padding: 30px 10px;
    text-align: center;
    width: 89px;

    .label {
      color: $dark-text;
      font-family: IntroBold;
      font-size: 1.3rem;
    }

    a {
      text-decoration: none;
    }
  }
}
