@charset 'UTF-8';

@import '../common/gutters';
@import '../common/colors';

.brick-product_slider {
  .bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-color: transparent;
    border-radius: 90px;

    width: 89px;
    height: 89px;
    margin-left: auto;
    margin-right: auto;
    opacity: 1.0;
  }

  .tray {
    @include gutter;
    display: flex;
    overflow-x: scroll;
  }

  .item {
    /**/
    display: inline-block;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    padding: 30px 10px 30px 10px;
    width: 89px;
    text-align: center;
    /**/

    .label {
      font-family: IntroBold;
      color: $dark-text;
      font-size: 1.3rem;
    }

    a {
      text-decoration: none;
    }
  }
}
