@charset 'UTF-8';

$red: #d0002c;
$gray-primary: #4a4a4a;
$blue: #037eaa;
$blue-light: #04a2dc;
$black: #000;
$gray-secondary: #bdbdbd;
$gray-secondary-light: #f0f0f0;
$gray-dark: #191919;
$white-off: #f8f8f8;
$white: #fff;
$brown: #ab8f78;
$olive: #b7b47f;
$teal: #c5e2ea;





// From Current Website
$gray-footer: #252525;
$brown-background: #efebe9;
$gray-border: #efefef;
$hero-text-shadow: rgba(0, 0, 0, .15);
$yellow: #fab935;

$dark-text: #3e2723;


// Background Colors
$background-color-main: $brown-background;
$background-color-footer: $gray-footer;
$background-color-bottom: $gray-dark;
$background-color-header: $white;

// Text Colors
$text-color-light: $white;
$text-color-dark: $dark-text;
