@charset 'UTF-8';

@import '../common/breakpoint';

$max-width-desktop: 1140px;

@mixin gutter {
  margin-left: 0;
  margin-right: 0;
  padding-left: 17px;
  padding-right: 17px;

  @include breakpoint($tablet) {
    margin-left: auto;
    margin-right: auto;
    max-width: $max-width-desktop;
    padding-left: 0;
    padding-right: 0;
  }
}

@mixin gutter-global {
  @include gutter;

  @include breakpoint(990px) {
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
    padding-left: 0;
    padding-right: 0;
  }

  @include breakpoint($tablet) {
    max-width: 960px;
  }

  @include breakpoint($desktop) {
    max-width: $max-width-desktop;
  }
}

@mixin gutter-brick {
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  padding-left: 0;
  padding-right: 0;
}
