<div class="product-slider">
  <div class="tray">
    {% for item in items %}
    <div class="item">
      <a href="{{ item.url }}">
        <div class="bg" style="background-image: url('{{ item.img }}')">
        </div>
        <div class="label">{{ item.label }}</div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
